include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include thirvusoft_bpm *.css
recursive-include thirvusoft_bpm *.csv
recursive-include thirvusoft_bpm *.html
recursive-include thirvusoft_bpm *.ico
recursive-include thirvusoft_bpm *.js
recursive-include thirvusoft_bpm *.json
recursive-include thirvusoft_bpm *.md
recursive-include thirvusoft_bpm *.png
recursive-include thirvusoft_bpm *.py
recursive-include thirvusoft_bpm *.svg
recursive-include thirvusoft_bpm *.txt
recursive-exclude thirvusoft_bpm *.pyc